Repository geobeyond/fastgeoapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ty

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: ty
        name: Type check with ty
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.4.1
    hooks:
      - id: prettier

deploy: 01024f509070649e0df3d5bc412c3f805ee70e2e
  contributors/reference/index.html
  search.json
Due: none

fix(openapi): allow unlocated features and drop CQL2 where nothing filters
  app/editor/inspect.py
  app/main.py
  app/mcp/tools.py
  app/pygeoapi/factory.py
  app/pygeoapi/openapi.py
  docs/consumers/reference/interoperability.md
  tests/test_mcp_tool_schemas.py
  tests/test_openapi_cql2_operations.py
  tests/test_openapi_execute_maps.py
  tests/test_openapi_unlocated_features.py
Due: ty

deploy: ec74fde76988bb941e1b39da231891a452b1089c
  consumers/reference/interoperability/index.html
  contributors/reference/index.html
  search.json
Due: none

feat(mcp): report the fastgeoapi version, the API address and instructions
  app/main.py
  app/mcp/instructions.py
  docs/consumers/reference/mcp-specifications.md
  tests/test_mcp_server_identity.py
Due: ty

deploy: da41c3586100cbd1efa981971f0c5956881e1ab6
  consumers/reference/mcp-specifications/index.html
  search.json
Due: none

feat(mcp): annotate the generated tools and title them from the summaries
  app/editor/inspect.py
  app/main.py
  app/mcp/annotations.py
  app/mcp/tools.py
  docs/consumers/reference/mcp-specifications.md
  tests/test_mcp_tool_annotations.py
  tests/test_mcp_tool_refresh.py
Due: ty

deploy: 1f311b4fc39a6157d91bfc1139b48ba81c58868b
  consumers/reference/mcp-specifications/index.html
  search.json
Due: none

feat(mcp): give the tileset tools names that FastMCP does not cut
  app/editor/inspect.py
  app/main.py
  app/mcp/instructions.py
  app/mcp/names.py
  app/mcp/tools.py
  docs/consumers/tutorials/connecting-an-mcp-client.md
  tests/test_mcp_tool_names.py
Due: ty

deploy: 91a4049f8aa0115c323d3e78e9ae15cf523a3734
  consumers/tutorials/connecting-an-mcp-client/index.html
  search.json
Due: none

docs(mcp): note that the MCP Apps extension is advertised without an app
  docs/consumers/reference/mcp-specifications.md
Due: none

deploy: d1a5a8907ba02598e0a27052dcecf433f2dbc885
  consumers/reference/mcp-specifications/index.html
  search.json
Due: none

fix(deps): require fastmcp 4.0.10 for the ID-JAG token fix
  pyproject.toml
  tests/test_mcp_forged_id_jag.py
  tests/test_mcp_tool_references.py
  uv.lock
Due: check-toml, ty

fix(openapi): describe the tileset list with the OGC response
  app/pygeoapi/factory.py
  app/pygeoapi/openapi.py
  docs/consumers/reference/interoperability.md
  tests/test_openapi_cql2_operations.py
  tests/test_openapi_tags.py
  tests/test_openapi_tileset_list.py
Due: ty

deploy: 931565066fc8eba442d96bcb8942e86c89cc4e58
  consumers/reference/interoperability/index.html
  contributors/reference/index.html
  search.json
Due: none

bump: version 0.2.0 → 0.3.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-toml

fix(tiles): answer a tileset in JSON when the request asks for no format
  app/pygeoapi/factory.py
  tests/test_tileset_metadata_format.py
Due: ty

deploy: 381a4be83803abe605825e2d6635c8827b3c9d60
  contributors/reference/index.html
  search.json
Due: none

feat(maps): add the map contracts, the camera, a source and its styles
  app/maps/__init__.py
  app/maps/camera.py
  app/maps/contract.py
  app/maps/sources.py
  app/maps/styles.py
  app/provider/base.py
  app/provider/storage/obstore_.py
  tests/test_maps_camera.py
  tests/test_maps_sources.py
  tests/test_maps_styles.py
  tests/test_storage_sign.py
Due: ty

feat(maps): serve /map from a native provider awaited on the loop
  app/interfaces/providers.py
  app/provider/maplibre.py
  app/pygeoapi/api/conformance.py
  app/pygeoapi/api_async/maps.py
  app/pygeoapi/factory.py
  app/pygeoapi/openapi.py
  app/pygeoapi/plugin.py
  tests/maps_fixtures.py
  tests/test_conformance_maps.py
  tests/test_maplibre_provider.py
  tests/test_maps_async_route.py
  tests/test_openapi_maps.py
  tests/test_plugin_cache_close.py
Due: ty

feat(mcp): return the map of a collection to the client as an image
  app/editor/inspect.py
  app/main.py
  app/mcp/instructions.py
  app/mcp/maps.py
  app/mcp/names.py
  app/mcp/route_maps.py
  app/mcp/tools.py
  tests/test_mcp_map_tools.py
Due: ty

build(maps): install the MapLibre Native renderer through a maps group
  noxfile.py
  pyproject.toml
  tests/test_maps_dependencies.py
  uv.lock
Due: check-toml, ty

fix(reload): report a reload as applied once the artifact is written
  app/interfaces/reload.py
  tests/test_openapi_artifact.py
Due: ty

fix(maps): keep the camera within the zooms and the world renderers take
  app/maps/camera.py
  tests/test_maps_camera.py
Due: ty

feat(maps): draw maps with one MapLibre Native process per provider
  app/maps/mlnative.py
  app/maps/renderer.py
  app/provider/maplibre.py
  pyproject.toml
  tests/maps_fixtures.py
  tests/mvt_fixtures.py
  tests/test_maplibre_provider.py
  tests/test_maps_mlnative.py
  tests/test_maps_process_renderer.py
  tests/test_maps_renderer.py
Due: check-toml, ty

ci(maps): run the renderer tests on Ubuntu 24.04
  .github/workflows/tests.yml
  noxfile.py
  tests/test_ci_maps_lane.py
Due: check-yaml, ty

build(docker): add the map renderer to the demo image
  Dockerfile.flyio
  tests/test_dockerfile_maps.py
Due: ty

feat(demo): draw the Lazio roads as a map and document the provider
  docs/operators/how-to/index.md
  docs/operators/how-to/maplibre.md
  pygeoapi-config.demo.yml
  tests/test_demo_maps.py
  zensical.toml
Due: check-toml, check-yaml, ty

chore(scripts): add a benchmark of the map route
  scripts/bench_maps.py
  tests/test_bench_maps.py
Due: ty

fix(maps): raise the size limit, answer 413 and free the queue on disconnect
  app/provider/maplibre.py
  app/pygeoapi/api_async/maps.py
  app/pygeoapi/factory.py
  docs/operators/how-to/maplibre.md
  pygeoapi-config.demo.yml
  tests/test_maplibre_provider.py
  tests/test_maps_async_route.py
Due: check-yaml, ty

feat(maps): choose map sources from a registry and style them by their content
  app/maps/contract.py
  app/maps/sources.py
  app/maps/styles.py
  app/provider/maplibre.py
  docs/operators/how-to/maplibre.md
  tests/pmtiles_fixtures.py
  tests/test_maplibre_provider.py
  tests/test_maps_renderer.py
  tests/test_maps_sources.py
  tests/test_maps_styles.py
Due: ty

refactor(maps): compose the map provider from a render queue and shared parts
  app/maps/queue.py
  app/provider/maplibre.py
  app/provider/maps.py
  tests/test_maplibre_provider.py
  tests/test_maps_provider_parts.py
  tests/test_maps_render_queue.py
Due: ty
