Repository geobeyond/fastgeoapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ty

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ty:
  name: Type check with ty
  entry: uvx ty check
  language: system
  pass_filenames: false

fix(storage): translate store options into obstore's vocabulary
  app/provider/storage/factory.py
Due: ty

fix(editor): check a data source the way the provider reads it
  app/editor/inspect.py
  tests/test_editor_store_options.py
Due: ty

feat(cli): open the editor without putting the secret in a URL
  app/cli.py
  app/editor/app.py
  tests/test_editor_api.py
  tests/test_editor_cli.py
Due: ty

docs(editor): say what a dry run cannot tell you
  docs/configuration-editor.md
  mkdocs.yml
Due: check-yaml

feat(editor): the authoring role, which cannot activate anything
  app/editor/app.py
  tests/test_editor_roles.py
Due: ty

feat(editor): the endpoints, and one rule they exist to respect
  app/editor/app.py
  app/editor/inspect.py
  app/editor/routes.py
  tests/test_editor_api.py
Due: ty

feat(editor): tell an operator what a configuration will do
  app/editor/__init__.py
  app/editor/inspect.py
  tests/test_editor_inspect.py
Due: ty

style(docs): normalise emphasis in the editor page
  docs/configuration-editor.md
Due: none

test(editor): exercise the editor against a real bucket
  tests/conftest.py
  tests/test_editor_bucket_e2e.py
  tests/test_geoparquet_bucket_e2e.py
Due: ty

feat(editor): bridge the form to the document without owning it
  .gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/document.test.ts
  frontend/src/document.ts
  frontend/src/form.test.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: none

feat(editor): serve the page from the authoring role only
  app/cli.py
  app/editor/app.py
  tests/test_editor_cli.py
  tests/test_editor_page.py
Due: ty

feat(editor): a page that mirrors the four endpoints
  frontend/index.html
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/api.ts
  frontend/src/main.tsx
  frontend/src/placeholders.test.tsx
  frontend/src/placeholders.ts
  frontend/src/style.css
Due: none

feat(editor): hand the token over in a cookie
  app/editor/app.py
  app/editor/routes.py
  tests/test_editor_session.py
Due: ty

build(editor): compile the page in CI and ship it as package data
  .github/workflows/release.yml
  .github/workflows/tests.yml
  docs/configuration-editor.md
  pyproject.toml
Due: check-toml, check-yaml

feat(editor): two views of one document, both editable
  docs/configuration-editor.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/YamlEditor.tsx
  frontend/src/style.css
  frontend/src/sync.test.ts
  frontend/src/sync.ts
  frontend/src/templates.test.tsx
  frontend/src/templates.tsx
Due: none

docs: document the command line and the editor in full
  README.md
  docs/cli.md
  docs/configuration-editor.md
  docs/configuration-reference.md
  mkdocs.yml
  scripts/config_reference_additions.md
Due: check-yaml

style(editor): a theme for the page, a stylesheet for the fields
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  frontend/.prettierignore
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/YamlEditor.tsx
  frontend/src/api.ts
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/document.ts
  frontend/src/form.test.tsx
  frontend/src/main.tsx
  frontend/src/placeholders.test.tsx
  frontend/src/style.css
  frontend/src/sync.test.ts
  frontend/src/templates.test.tsx
  frontend/src/templates.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: check-yaml

style(editor): give the page room to breathe
  frontend/src/App.tsx
  frontend/src/style.css
Due: none

fix(cli): let the editor run for someone who only has pygeoapi
  app/cli.py
  app/config/logging.py
  app/pygeoapi/openapi.py
  app/schemas/logging.py
  tests/test_editor_standalone.py
Due: ty

feat(editor): augmented option, what only fastgeoapi can tell you
  app/cli.py
  app/editor/app.py
  app/editor/inspect.py
  app/editor/routes.py
  docs/cli.md
  docs/configuration-editor.md
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/api.ts
  tests/test_editor_augmented.py
Due: ty

fix(frontend): stop .gitignore from swallowing a source directory
  .gitignore
  frontend/src/lib/utils.ts
Due: none

build(docs): move the site to zensical
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  docs/index.md
  docs/openapi.md
  mkdocs.yml
  noxfile.py
  pyproject.toml
  uv.lock
  uv.md
  zensical.toml
Due: check-toml, check-yaml, ty

docs: reorganise by task, with Diátaxis inside each
  README.md
  docs/configuration-reference.md
  docs/consumers/explanation/mcp-server.md
  docs/consumers/how-to/mcp-inspector.md
  docs/consumers/index.md
  docs/consumers/reference/mcp-specifications.md
  docs/consumers/reference/openapi.md
  docs/consumers/tutorials/connecting-an-mcp-client.md
  docs/contributors/explanation/architecture.md
  docs/contributors/how-to/development-setup.md
  docs/contributors/how-to/running-the-tests.md
  docs/contributors/index.md
  docs/contributors/reference/index.md
  docs/index.md
  docs/mcp-server.md
  docs/operators/explanation/why-fastgeoapi.md
  docs/operators/how-to/cloud-config.md
  docs/operators/how-to/configuration-editor.md
  docs/operators/how-to/enabling-mcp.md
  docs/operators/how-to/geoparquet.md
  docs/operators/how-to/index.md
  docs/operators/index.md
  docs/operators/reference/cli.md
  docs/operators/reference/configuration.md
  docs/operators/tutorials/getting-started.md
  docs/operators/tutorials/protecting-pygeoapi.md
  scripts/config_reference_additions.md
  scripts/generate_config_models.py
  zensical.toml
Due: check-toml, ty

style(docs): adopt the proposed brand, and take its colours
  README.md
  docs/images/apple-touch-icon.png
  docs/images/fastgeoapi_logo_trim.png
  docs/images/favicon-16.png
  docs/images/favicon-32.png
  docs/images/icon-512.png
  docs/images/lockup_horizontal.png
  docs/images/lockup_horizontal_dark.png
  docs/images/lockup_stacked.png
  docs/images/wordmark.png
  docs/stylesheets/extra.css
  zensical.toml
Due: check-toml

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ty: any of: \.py$
