Repository geobeyond/fastgeoapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ty

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ty:
  name: Type check with ty
  entry: uvx ty check
  language: system
  pass_filenames: false

fix(storage): an explicit endpoint wins over the environment
  app/provider/storage/factory.py
  docs/operators/how-to/geoparquet.md
  docs/operators/reference/configuration.md
  tests/test_storage_endpoint_e2e.py
Due: ty

deploy: ffaf7b1b91febb741bf2455b86e8f340ec8d0d7a
  contributors/reference/index.html
  operators/how-to/geoparquet/index.html
  operators/reference/configuration/index.html
  search.json
Due: none

docs: the PMTiles provider, for operators
  README.md
  docs/operators/explanation/why-fastgeoapi.md
  docs/operators/how-to/pmtiles.md
  docs/operators/reference/configuration.md
  zensical.toml
Due: check-toml

fix documentation issue #428
  README.md
  docs/operators/tutorials/getting-started.md
Due: none

deploy: 028947ee91ecf36cbaa388f2d979b44576e07a68
  operators/tutorials/getting-started/index.html
  search.json
Due: none

deploy: 0e8e3866099066bd39b70efb65a44da378de21a1
  404.html
  consumers/explanation/mcp-server/index.html
  consumers/how-to/mcp-inspector/index.html
  consumers/index.html
  consumers/reference/mcp-specifications/index.html
  consumers/reference/openapi/index.html
  consumers/tutorials/connecting-an-mcp-client/index.html
  contributors/explanation/architecture/index.html
  contributors/explanation/async-providers/index.html
  contributors/how-to/development-setup/index.html
  contributors/how-to/running-the-tests/index.html
  contributors/how-to/writing-an-async-provider/index.html
  contributors/index.html
  contributors/reference/index.html
  index.html
  operators/explanation/why-fastgeoapi/index.html
  operators/how-to/cloud-config/index.html
  operators/how-to/configuration-editor/index.html
  operators/how-to/enabling-mcp/index.html
  operators/how-to/geoparquet/index.html
  operators/how-to/index.html
  operators/how-to/pmtiles/index.html
  operators/index.html
  operators/reference/cli/index.html
  operators/reference/configuration/index.html
  operators/tutorials/getting-started/index.html
  operators/tutorials/protecting-pygeoapi/index.html
  search.json
  sitemap.xml
Due: none

docs: using fastgeoapi from QGIS
  docs/consumers/index.md
  docs/consumers/tutorials/using-qgis.md
  docs/operators/how-to/pmtiles.md
  zensical.toml
Due: check-toml

docs(qgis): keep the demo credential in one place
  docs/consumers/tutorials/using-qgis.md
Due: none

deploy: a741203f361a31ac93592bf6191f3c8c73fbd31e
  404.html
  consumers/explanation/mcp-server/index.html
  consumers/how-to/mcp-inspector/index.html
  consumers/index.html
  consumers/reference/mcp-specifications/index.html
  consumers/reference/openapi/index.html
  consumers/tutorials/connecting-an-mcp-client/index.html
  consumers/tutorials/using-qgis/index.html
  contributors/explanation/architecture/index.html
  contributors/explanation/async-providers/index.html
  contributors/how-to/development-setup/index.html
  contributors/how-to/running-the-tests/index.html
  contributors/how-to/writing-an-async-provider/index.html
  contributors/index.html
  contributors/reference/index.html
  index.html
  operators/explanation/why-fastgeoapi/index.html
  operators/how-to/cloud-config/index.html
  operators/how-to/configuration-editor/index.html
  operators/how-to/enabling-mcp/index.html
  operators/how-to/geoparquet/index.html
  operators/how-to/index.html
  operators/how-to/pmtiles/index.html
  operators/index.html
  operators/reference/cli/index.html
  operators/reference/configuration/index.html
  operators/tutorials/getting-started/index.html
  operators/tutorials/protecting-pygeoapi/index.html
  search.json
  sitemap.xml
Due: none

docs(qgis): add screenshots for the qgis tutorial
  docs/consumers/tutorials/using-qgis.md
  docs/images/qgis/00-authentication-list.png
  docs/images/qgis/01-oauth2-configuration.png
  docs/images/qgis/02-new-connection.png
  docs/images/qgis/03-map-rome.png
  scripts/qgis_tutorial_screenshots.py
Due: ty

docs(qgis): a throwaway store for the screenshot tool
  docs/images/qgis/00-authentication-list.png
  scripts/qgis_tutorial_screenshots.py
Due: ty

deploy: 42d4600eea1623424a8186ee76c9816ce480f97e
  consumers/tutorials/using-qgis/index.html
  images/qgis/00-authentication-list.png
  images/qgis/01-oauth2-configuration.png
  images/qgis/02-new-connection.png
  images/qgis/03-map-rome.png
  search.json
Due: none

fix(editor): the form may not write what the document does not say
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/style.css
Due: none

docs(editor): screenshots taken by the editor itself
  docs/images/editor/00-token.png
  docs/images/editor/01-form.png
  docs/images/editor/02-yaml.png
  docs/images/editor/03-dry-run.png
  docs/operators/how-to/configuration-editor.md
  scripts/editor_tutorial_screenshots.py
Due: ty

fix(image): take the distribution's updates in the runtime layer
  Dockerfile
Due: none

docs: say what fastgeoapi is for
  README.md
  docs/contributors/explanation/architecture.md
  docs/contributors/index.md
  docs/index.md
  docs/operators/explanation/why-fastgeoapi.md
  docs/operators/how-to/cloud-config.md
  docs/operators/how-to/geoparquet.md
  docs/operators/how-to/index.md
  docs/operators/how-to/pmtiles.md
  docs/operators/index.md
Due: none

deploy: 58260975b49fab105bb8334d11ab98b666a5ec18
  images/editor/00-token.png
  images/editor/01-form.png
  images/editor/02-yaml.png
  images/editor/03-dry-run.png
  operators/how-to/configuration-editor/index.html
  search.json
Due: none

docs: build the COG example on async-geotiff
  README.md
  docs/contributors/explanation/async-providers.md
  docs/contributors/how-to/writing-an-async-provider.md
Due: none

deploy: 82905c3792573b0c4a644941111fd8ca93f9ff70
  contributors/explanation/architecture/index.html
  contributors/explanation/async-providers/index.html
  contributors/how-to/writing-an-async-provider/index.html
  contributors/index.html
  index.html
  operators/explanation/why-fastgeoapi/index.html
  operators/how-to/cloud-config/index.html
  operators/how-to/geoparquet/index.html
  operators/how-to/index.html
  operators/how-to/pmtiles/index.html
  operators/index.html
  search.json
Due: none

fix(auth): a 401 has to say how to authenticate
  app/middleware/oauth2.py
  tests/test_auth_challenge.py
Due: ty

Fix(docs): uv installation link
  README.md
  docs/operators/tutorials/getting-started.md
  uv.md
Due: none

fix(readme): dead links
  README.md
  uv.md
Due: none

deploy: f11baf5bbc3c553cf0cdca0010e0bbbb48c9460f
  operators/tutorials/getting-started/index.html
  search.json
Due: none

fix(geoparquet): prove the datetime is one before it becomes a literal
  app/provider/geoparquet.py
  tests/test_geoparquet_provider.py
Due: ty

feat(demo): the demo's configuration, sync with the repository and readable
  .flyio.env
  app/provider/storage/factory.py
  docs/index.md
  docs/operators/how-to/index.md
  pygeoapi-config.demo.yml
  tests/test_storage_endpoint_e2e.py
Due: check-yaml, ty

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ty: any of: \.py$
