Repository geobeyond/fastgeoapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ty

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: ty
        name: Type check with ty
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.4.1
    hooks:
      - id: prettier

feat(interfaces): async capability Protocols for tile and feature providers
  app/interfaces/__init__.py
  app/interfaces/providers.py
  tests/test_provider_protocols.py
Due: ty

feat(storage): byte-range reads, sync and async, through the object store
  app/provider/storage/base.py
  app/provider/storage/bridge.py
  app/provider/storage/obstore_.py
  tests/test_storage_base.py
  tests/test_storage_ranges.py
Due: ty

feat(provider): byte ranges bound to a provider's data object
  app/provider/storage/__init__.py
  app/provider/storage/ranges.py
  tests/test_provider_storage_mixin.py
Due: ty

feat(provider): a sans-I/O core driven by two ten-line drivers
  app/provider/sansio.py
  tests/test_sansio.py
Due: ty

feat(tiles): await a native provider on the tile data route, threadpool for the rest
  app/pygeoapi/api_async/__init__.py
  app/pygeoapi/api_async/tiles.py
  app/pygeoapi/factory.py
  tests/test_tiles_async_route.py
Due: ty

test: a guard that proves no blocking call reaches the loop
  noxfile.py
  pyproject.toml
  tests/test_blocking_guard.py
  uv.lock
Due: check-toml, ty

feat(provider): the async part beside pygeoapi's contract, as a mixin and a view
  app/provider/base.py
  tests/test_provider_base.py
Due: ty

deploy: 26747dc1e8af58c4425331b375cc11b231c5253f
  contributors/reference/index.html
  search.json
Due: none

feat(storage): hand the obstore object and the key to libraries that read through it
  app/provider/base.py
  app/provider/storage/obstore_.py
  tests/test_provider_storage_mixin.py
  tests/test_storage_obstore.py
Due: ty

docs(contributors): how to write a provider that can be awaited
  docs/contributors/explanation/architecture.md
  docs/contributors/explanation/async-providers.md
  docs/contributors/how-to/running-the-tests.md
  docs/contributors/how-to/writing-an-async-provider.md
  docs/contributors/index.md
  docs/contributors/reference/index.md
  zensical.toml
Due: check-toml

fix(tests): sanitise the job id instead of testing a literal
  tests/test_opa_integration.py
Due: ty

deploy: 59728a48dc3c4e6ebfbdd706eb0750d43cd84911
  404.html
  consumers/explanation/mcp-server/index.html
  consumers/how-to/mcp-inspector/index.html
  consumers/index.html
  consumers/reference/mcp-specifications/index.html
  consumers/reference/openapi/index.html
  consumers/tutorials/connecting-an-mcp-client/index.html
  contributors/explanation/architecture/index.html
  contributors/explanation/async-providers/index.html
  contributors/how-to/development-setup/index.html
  contributors/how-to/running-the-tests/index.html
  contributors/how-to/writing-an-async-provider/index.html
  contributors/index.html
  contributors/reference/index.html
  index.html
  objects.inv
  operators/explanation/why-fastgeoapi/index.html
  operators/how-to/cloud-config/index.html
  operators/how-to/configuration-editor/index.html
  operators/how-to/enabling-mcp/index.html
  operators/how-to/geoparquet/index.html
  operators/how-to/index.html
  operators/index.html
  operators/reference/cli/index.html
  operators/reference/configuration/index.html
  operators/tutorials/getting-started/index.html
  operators/tutorials/protecting-pygeoapi/index.html
  search.json
  sitemap.xml
Due: none

feat(provider): GeoParquet carries the async mixin, and stays honest about DuckDB
  app/provider/geoparquet.py
  tests/test_geoparquet_provider.py
Due: ty

build: the pmtiles extra, and archives the tests can write themselves
  Dockerfile.flyio
  pyproject.toml
  tests/pmtiles_fixtures.py
  tests/test_pmtiles_fixtures.py
  uv.lock
Due: check-toml, ty

feat(storage): identical awaited reads in flight share one fetch
  app/provider/storage/__init__.py
  app/provider/storage/ranges.py
  noxfile.py
  tests/test_storage_ranges.py
Due: ty

feat(pmtiles): a natively async tile provider over a PMTiles archive
  app/provider/pmtiles.py
  tests/test_pmtiles_core.py
  tests/test_pmtiles_provider.py
Due: ty

test(pmtiles): the provider through routes, registry and conformance
  tests/test_pmtiles_route.py
Due: ty

test(pmtiles): ranged reads from a bucket
  tests/test_pmtiles_bucket_e2e.py
Due: ty

feat(mcp): binary tiles are not tools
  app/editor/inspect.py
  app/main.py
  app/mcp/route_maps.py
  app/mcp/tools.py
  tests/test_mcp_route_maps.py
Due: ty

chore(pmtiles): a script that measures the two chains on a real archive
  scripts/measure_pmtiles.py
Due: ty

deploy: 89c711d2c72c8d5646b3922a649458ee86ad0464
  contributors/reference/index.html
  objects.inv
  search.json
Due: none

fix(pmtiles): a literal URL template is a 404, not a 500
  app/provider/pmtiles.py
  tests/test_pmtiles_provider.py
Due: ty

fix documentation issue #428
  README.md
  docs/operators/tutorials/getting-started.md
Due: none
