Repository geobeyond/fastgeoapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ty

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ty:
  name: Type check with ty
  entry: uvx ty check
  language: system
  pass_filenames: false

fix(deps): bump pyjwt and fix its latest cve
  uv.lock
Due: none

fix(maps): cut the loopback token from renderer errors
  app/maps/renderer.py
  tests/test_maps_process_renderer.py
Due: ty

fix(storage): strip http store prefix urls
  app/provider/storage/factory.py
  tests/test_storage_obstore.py
Due: ty

test(maps): draw a remote archive through the range cache
  tests/test_maps_range_cache_renderer.py
Due: ty

feat(storage): read ranges of one version of an object through the cache
  app/provider/storage/__init__.py
  app/provider/storage/cache.py
  tests/range_cache_fixtures.py
  tests/test_storage_cached_ranges.py
Due: ty

feat(pmtiles): read remote archives through the range cach
  app/provider/pmtiles.py
  tests/test_pmtiles_range_cache.py
Due: ty

feat(storage): list with metadata, delete and read a range of one version
  app/provider/storage/__init__.py
  app/provider/storage/base.py
  app/provider/storage/factory.py
  app/provider/storage/obstore_.py
  tests/test_storage_base.py
  tests/test_storage_cache_contract.py
Due: ty

fix(maps): keep serving the ranges of a map in flight through a reload
  app/provider/maplibre.py
  docs/operators/how-to/maplibre.md
  tests/test_maplibre_provider.py
Due: ty

feat(storage): configure the range cache and hand it to the providers
  app/config/app.py
  app/main.py
  app/provider/base.py
  app/provider/storage/cache.py
  tests/conftest.py
  tests/test_range_cache_settings.py
Due: ty

feat(storage): keep byte ranges in an object store under a cap
  app/provider/storage/__init__.py
  app/provider/storage/cache.py
  tests/range_cache_fixtures.py
  tests/test_storage_range_cache.py
Due: ty

feat(storage): serve cached ranges on loopback
  app/main.py
  app/provider/storage/loopback.py
  pyproject.toml
  tests/test_storage_loopback.py
  uv.lock
Due: check-toml, ty

feat(maps): let the renderer read remote archives through the loopback server
  app/maps/sources.py
  app/provider/maplibre.py
  app/provider/maps.py
  tests/test_maplibre_provider.py
  tests/test_maps_sources.py
Due: ty

fix(storage): let the range cache sweep only its own entries
  app/provider/storage/cache.py
  docs/operators/how-to/pmtiles.md
  tests/test_storage_range_cache.py
Due: ty

docs: describe the range cache
  docs/operators/how-to/index.md
  docs/operators/how-to/maplibre.md
  docs/operators/how-to/pmtiles.md
Due: none

deploy: cae60566e4f9e7b1e063247067e6cdf379589bd0
  contributors/reference/index.html
  objects.inv
  operators/how-to/index.html
  operators/how-to/maplibre/index.html
  operators/how-to/pmtiles/index.html
  search.json
Due: none

feat(tiles): add the contract with tile backends and their registry
  app/tiles/__init__.py
  app/tiles/contract.py
  app/tiles/sources.py
  tests/test_tiles_contract.py
Due: ty

feat(pmtiles): tell what a tile type allows and how wide its tiles are
  app/provider/dem.py
  app/provider/pmtiles_types.py
  tests/test_pmtiles_types.py
Due: ty

refactor(tiles): serve tiles from a generic provider composed with a PMTiles source
  app/provider/base.py
  app/provider/pmtiles.py
  app/provider/tiles.py
  app/tiles/sources.py
  tests/test_pmtiles_provider.py
  tests/test_tiles_provider.py
Due: ty

fix(pmtiles): refuse an archive whose tiles do not match the configured format
  app/provider/pmtiles.py
  tests/test_pmtiles_raster.py
Due: ty

feat(pmtiles): serve raster archives as map or elevation tilesets
  app/provider/pmtiles.py
  tests/test_pmtiles_raster.py
Due: ty

fix(conformance): declare png and jpeg tiles, and mvt only when some tiles are vector
  app/pygeoapi/api/conformance.py
  tests/test_conformance.py
Due: ty

feat(maps): draw elevation archives as a hillshade
  app/maps/contract.py
  app/maps/sources.py
  app/maps/styles.py
  app/provider/maplibre.py
  app/provider/maps.py
  tests/pmtiles_fixtures.py
  tests/test_maplibre_provider.py
  tests/test_maps_dem_renderer.py
  tests/test_maps_sources.py
  tests/test_maps_styles.py
Due: ty

docs: describe raster and elevation PMTiles archives
  docs/operators/how-to/maplibre.md
  docs/operators/how-to/pmtiles.md
Due: none

fix(tiles): explain refusals on metadata routes and draw raster tilesets
  app/provider/tiles.py
  app/pygeoapi/factory.py
  docs/operators/how-to/pmtiles.md
  tests/test_pmtiles_raster.py
Due: ty

build(docker): require the lock hashes when installing the images
  Dockerfile
  Dockerfile.flyio
  tests/test_dockerfile_hashes.py
Due: ty

test: guard the event loop against the storage layer's synchronous calls
  tests/loop_guard.py
  tests/test_loop_guard.py
  tests/test_maps_async_route.py
  tests/test_pmtiles_range_cache.py
  tests/test_pmtiles_route.py
  tests/test_storage_loopback.py
  tests/test_tiles_async_route.py
Due: ty

deploy: 2f78b208990bf509ebb82fe1249d556445c8dd6f
  contributors/reference/index.html
  operators/how-to/maplibre/index.html
  operators/how-to/pmtiles/index.html
  search.json
Due: none

fix(collections): describe the items from the provider that serves them
  app/pygeoapi/api/collections.py
  app/pygeoapi/factory.py
  tests/test_collection_items_links.py
  tests/test_config_validation.py
Due: ty

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ty: any of: \.py$
