Repository geobeyond/fastgeoapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ty

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: ty
        name: Type check with ty
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.4.1
    hooks:
      - id: prettier

Fix ty check with a frozen venv
  .github/workflows/tests.yml
  .pre-commit-config.yaml
Due: check-yaml

Avoid to update typer 0.17+, waiting for safety update
  renovate.json
Due: none

refactor: handle issuer and audience validation of oauth2 tokens
  app/auth/auth_jwks.py
Due: ty

ci: fix precommit errors
  app/auth/auth_jwks.py
Due: ty

Add composability of conformance classes
  app/interfaces/__init__.py
  app/interfaces/conformance.py
  app/pygeoapi/api/conformance.py
  app/pygeoapi/starlette_app.py
  app/utils/pygeoapi_utils.py
  tests/conftest.py
  tests/test_conformance.py
Due: ty

Update dependencies
  uv.lock
Due: none

Clean up tests not needed
  tests/test_conformance.py
Due: ty

Bump pygeoapi to 0.23.4
  app/auth/mcp_auth_provider.py
  app/middleware/oauth2.py
  app/pygeoapi/api/conformance.py
  app/pygeoapi/starlette_app.py
  app/utils/pygeoapi_utils.py
  pyproject.toml
  uv.lock
Due: check-toml, ty

Fix lint errors after ty bump
  app/auth/mcp_auth_provider.py
  app/interfaces/conformance.py
  app/pygeoapi/starlette_app.py
  tests/conftest.py
  tests/test_conformance.py
  tests/test_mcp_oauth_components.py
  tests/test_mcp_remote_oauth_flow.py
  tests/test_openapi_contract.py
  tests/test_startup_workflow.py
  uv.lock
Due: ty

ci: align pre-commit ruff to local lock version
  .pre-commit-config.yaml
  scripts/docker/build.py
Due: check-yaml, ty

ci(contract-tests): drop ubuntugis-unstable PPA dependency
  .github/workflows/contract-tests.yml
Due: check-yaml

Follow api composability and fix conformance accordingly to pygeoapi configuration (#407)
  .github/workflows/contract-tests.yml
  .pre-commit-config.yaml
  app/auth/mcp_auth_provider.py
  app/interfaces/__init__.py
  app/interfaces/conformance.py
  app/middleware/oauth2.py
  app/pygeoapi/api/conformance.py
  app/pygeoapi/starlette_app.py
  app/utils/pygeoapi_utils.py
  pyproject.toml
  scripts/docker/build.py
  tests/conftest.py
  tests/test_conformance.py
  tests/test_mcp_oauth_components.py
  tests/test_mcp_remote_oauth_flow.py
  tests/test_openapi_contract.py
  tests/test_startup_workflow.py
  uv.lock
Due: check-toml, check-yaml, ty

fix(tests): correct CRLF sanitization in openapi contract tests
  tests/test_openapi_contract.py
Due: ty

chore(deps): bump fastmcp to 3.x
  pyproject.toml
  uv.lock
Due: check-toml

fix(logging): set extra defaults to prevent KeyError in loguru formatter
  app/config/logging.py
Due: ty

test: scaffold E2E OAuth tests for MCP via pytest-iam
  tests/test_mcp_oauth_e2e.py
Due: ty

ci(fly): use auto-suspend instead of auto-stop for stateful MCP
  fly.toml
Due: check-toml

Update gitignore file
  .gitignore
Due: none

refactor(mcp): set false OIDCProxy forward resource instead of override
  app/auth/mcp_auth_provider.py
  tests/test_mcp_oauth_components.py
Due: ty

refactor(mcp): use ASGITransport for MCP integration over the header
  app/config/app.py
  app/main.py
  app/middleware/oauth2.py
  tests/test_http_client_lifecycle.py
  tests/test_mcp_asgi_transport.py
  tests/test_mcp_internal_auth_bypass.py
  tests/test_mcp_oauth_components.py
Due: ty

test(mcp): complete OAuth authorization_code E2E flow
  tests/conftest.py
  tests/test_mcp_oauth_e2e.py
Due: ty

CI(tests): fix failing checks
  noxfile.py
  tests/test_mcp_oauth_e2e.py
Due: ty

ci(safety): pin typer<0.26.0 to work around safety 3.7.0 CLI bootstrap
  noxfile.py
Due: ty

Bump starlette to 1.0.1 with the security fix
  pyproject.toml
  uv.lock
Due: check-toml

refactor(mcp): migrate to fastmcp 3.x with ASGITransport and native forward_resource (#409)
  .gitignore
  app/auth/mcp_auth_provider.py
  app/config/app.py
  app/config/logging.py
  app/main.py
  app/middleware/oauth2.py
  fly.toml
  noxfile.py
  pyproject.toml
  tests/conftest.py
  tests/test_http_client_lifecycle.py
  tests/test_mcp_asgi_transport.py
  tests/test_mcp_internal_auth_bypass.py
  tests/test_mcp_oauth_components.py
  tests/test_mcp_oauth_e2e.py
  uv.lock
Due: check-toml, ty

feat(mcp): remember consent
  .env
  .flyio.env
  app/auth/mcp_auth_provider.py
  app/config/app.py
  app/main.py
  tests/test_mcp_oauth_components.py
Due: ty

Update dependencies lock file
  uv.lock
Due: none

Add offline access scope from the IdP
  app/auth/mcp_auth_provider.py
  app/main.py
  tests/test_mcp_oauth_components.py
Due: ty

Fix CI failures
  app/auth/mcp_auth_provider.py
  noxfile.py
  tests/test_mcp_oauth_components.py
Due: ty

Lower the mcp consent mode from remember to never
  .env
  .flyio.env
  docs/mcp-server.md
Due: none

feat(mcp): decouple client access-token TTL from IdP expires_in
  .pre-commit-config.yaml
  app/auth/auth_jwks.py
  app/auth/mcp_auth_provider.py
  app/config/app.py
  app/main.py
  docs/mcp-server.md
  tests/test_mcp_oauth_components.py
  tests/test_startup_workflow.py
  uv.lock
Due: check-yaml, ty

fix(tests): pin consent mode in MCP OAuth e2e fixture
  docs/mcp-server.md
  tests/test_mcp_oauth_e2e.py
Due: ty

fix(security): default prod consent mode to remember in .env template
  .env
Due: none
