Repository geobeyond/fastgeoapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ty

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ty:
  name: Type check with ty
  entry: uvx ty check
  language: system
  pass_filenames: false

style(collections): drop an unused suppression and shorten a docstring
  app/pygeoapi/api/collections.py
Due: ty

fix(collections): describe the items from the provider that serves them
  app/pygeoapi/api/collections.py
  app/pygeoapi/factory.py
  tests/test_collection_items_links.py
  tests/test_config_validation.py
Due: ty

deploy: e60c8d488a444b364b8f55a160c6e8ee9c52cd41
  contributors/reference/index.html
  search.json
Due: none

perf(geoparquet): read a bucket dataset's schema once per version of its objects
  app/provider/duckdb_.py
  app/provider/geoparquet.py
  app/provider/geoparquet_schema.py
  app/provider/storage/cache.py
  app/provider/storage/factory.py
  tests/test_geoparquet_schema.py
Due: ty

perf(maps): draw at the known archive version while it is revalidated
  app/provider/maplibre.py
  app/provider/storage/cache.py
  docs/operators/how-to/maplibre.md
  tests/test_cached_ranges_revalidation.py
  tests/test_maplibre_provider.py
Due: ty

fix(geoparquet): answer 504 when the store does not answer in time
  app/provider/geoparquet.py
  docs/operators/how-to/geoparquet.md
  tests/test_geoparquet_provider.py
Due: ty

fix(geoparquet): import duckdb only when a query runs
  app/provider/geoparquet.py
  tests/test_geoparquet_provider.py
Due: ty

deploy: a22e1e621661f43b94af22f0dcff7c424ac89192
  contributors/reference/index.html
  objects.inv
  operators/how-to/geoparquet/index.html
  operators/how-to/maplibre/index.html
  search.json
Due: none

feat(cache): add the HTTP cache policy for maps and tiles
  app/config/app.py
  app/pygeoapi/api_async/caching.py
  tests/test_http_caching.py
Due: ty

feat(tiles): tell which version of the archive a tile would come from
  app/interfaces/providers.py
  app/provider/base.py
  app/provider/tiles.py
  tests/test_provider_versions.py
Due: ty

feat(tiles): answer a tile with its ETag, and 304 when the client has it
  app/pygeoapi/api_async/caching.py
  app/pygeoapi/api_async/tiles.py
  app/pygeoapi/factory.py
  tests/test_http_cache_routes.py
Due: ty

feat(maps): tell which version of a map would be drawn, without drawing it
  app/provider/maplibre.py
  tests/test_maplibre_provider.py
Due: ty

feat(maps): answer a map with its ETag, and 304 when the client has it
  app/pygeoapi/api_async/maps.py
  app/pygeoapi/factory.py
  tests/test_http_cache_routes.py
  tests/test_maps_async_route.py
Due: ty

docs: describe the HTTP cache of maps and tiles
  docs/operators/how-to/maplibre.md
  docs/operators/how-to/pmtiles.md
Due: none

fix(cache): keep gzip bodies stable, log failures by type, and 304 maps only as PNG
  app/pygeoapi/api_async/caching.py
  app/pygeoapi/api_async/maps.py
  app/pygeoapi/factory.py
  tests/test_http_cache_routes.py
  tests/test_http_caching.py
Due: ty

test(storage): await the revalidation instead of counting loop turns
  tests/test_cached_ranges_revalidation.py
Due: ty

deploy: 740e7bba4681cec371cb8afcf527d883f8bc23ca
  contributors/reference/index.html
  objects.inv
  operators/how-to/maplibre/index.html
  operators/how-to/pmtiles/index.html
  search.json
Due: none

feat(tiles): publish the vector TileJSON in the shape MapLibre reads
  app/provider/tiles.py
  tests/test_pmtiles_provider.py
  tests/test_pmtiles_route.py
Due: ty

feat(config): accept a view for the maps of each collection
  app/editor/routes.py
  app/pygeoapi/config_extensions.py
  app/pygeoapi/factory.py
  tests/test_config_extensions.py
  tests/test_editor_session.py
Due: ty

feat(tiles): pick the style a page draws a collection's tiles with
  app/provider/tile_styles.py
  app/provider/tiles.py
  tests/test_tile_styles.py
Due: ty

docs(pmtiles): describe the TileJSON MapLibre reads and the style option
  docs/operators/how-to/pmtiles.md
Due: none

build: add the fastgeoapi-html package to a uv workspace
  .gitignore
  noxfile.py
  packages/fastgeoapi-html/README.md
  packages/fastgeoapi-html/fastgeoapi_html/__init__.py
  packages/fastgeoapi-html/fastgeoapi_html/locale/it/LC_MESSAGES/messages.po
  packages/fastgeoapi-html/pyproject.toml
  pyproject.toml
  tests/test_html_package.py
  uv.lock
Due: check-toml, ty

feat(html): read the page catalogs and the compiled assets
  app/html/__init__.py
  app/html/assets.py
  app/html/i18n.py
  tests/html_fixtures.py
  tests/test_html_assets.py
  tests/test_html_i18n.py
Due: ty

feat(html): render a route's page from the returned JSON
  app/html/pages.py
  tests/html_fixtures.py
  tests/test_html_pages.py
Due: ty

feat(html): serve fastgeoapi's landing page when the settings ask for native pages
  .pre-commit-config.yaml
  app/config/app.py
  app/html/activation.py
  app/html/package.py
  app/html/registry.py
  app/html/views.py
  app/pygeoapi/factory.py
  packages/fastgeoapi-html/fastgeoapi_html/locale/it/LC_MESSAGES/messages.po
  packages/fastgeoapi-html/fastgeoapi_html/templates/_card.html
  packages/fastgeoapi-html/fastgeoapi_html/templates/_layout.html
  packages/fastgeoapi-html/fastgeoapi_html/templates/landing.html
  tests/html_fixtures.py
  tests/test_html_activation.py
  tests/test_html_catalogs.py
  tests/test_html_landing.py
Due: check-yaml, ty

feat(html): build the stylesheet and the islands of the pages with Vite
  frontend/package.json
  frontend/pages/config.test.ts
  frontend/pages/config.ts
  frontend/pages/style.css
  frontend/tsconfig.json
  frontend/vite.pages.config.ts
Due: none

feat(html): add the conformance and tile matrix set pages
  app/html/registry.py
  app/html/views.py
  packages/fastgeoapi-html/fastgeoapi_html/locale/it/LC_MESSAGES/messages.po
  packages/fastgeoapi-html/fastgeoapi_html/templates/conformance.html
  packages/fastgeoapi-html/fastgeoapi_html/templates/tilematrixset.html
  packages/fastgeoapi-html/fastgeoapi_html/templates/tilematrixsets.html
  tests/html_fixtures.py
  tests/test_html_service_pages.py
Due: ty

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ty: any of: \.py$
