Repository geobeyond/fastgeoapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ty

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ty:
  name: Type check with ty
  entry: uvx ty check
  language: system
  pass_filenames: false

refactor(maps): name the map options data_url and style_source
  app/provider/maplibre.py
  app/provider/maps.py
  docs/operators/how-to/maplibre.md
  pygeoapi-config.demo.yml
  tests/test_demo_maps.py
  tests/test_maplibre_provider.py
Due: check-yaml, ty

test(maps): compare the provider bases after the module purge
  tests/test_maps_provider_parts.py
Due: ty

feat(maps): choose the map styles with the style_factory option
  app/maps/styles.py
  app/provider/maplibre.py
  app/provider/maps.py
  docs/operators/how-to/maplibre.md
  tests/maps_fixtures.py
  tests/test_maplibre_provider.py
  tests/test_maps_styles.py
Due: ty

fix(maps): keep maps drawing behind OPA and the reverse proxy
  app/pygeoapi/factory.py
  tests/test_maps_async_route.py
Due: ty

fix(maps): replace a renderer process found dead before the map
  app/maps/renderer.py
  tests/test_maps_process_renderer.py
  tests/test_maps_renderer.py
Due: ty

fix(maps): read each style at its first map and check default_style
  app/maps/styles.py
  app/provider/maplibre.py
  app/provider/maps.py
  docs/operators/how-to/maplibre.md
  tests/test_maplibre_provider.py
Due: ty

build(docker): add the map renderer to the demo image
  Dockerfile.flyio
  tests/test_dockerfile_maps.py
Due: ty

refactor(maps): compose the map provider from a render queue and shared parts
  app/maps/queue.py
  app/provider/maplibre.py
  app/provider/maps.py
  tests/test_maplibre_provider.py
  tests/test_maps_provider_parts.py
  tests/test_maps_render_queue.py
Due: ty

feat(demo): draw the Lazio roads as a map and document the provider
  docs/operators/how-to/index.md
  docs/operators/how-to/maplibre.md
  pygeoapi-config.demo.yml
  tests/test_demo_maps.py
  zensical.toml
Due: check-toml, check-yaml, ty

chore(scripts): add a benchmark of the map route
  scripts/bench_maps.py
  tests/test_bench_maps.py
Due: ty

ci(maps): run the renderer tests on Ubuntu 24.04
  .github/workflows/tests.yml
  noxfile.py
  tests/test_ci_maps_lane.py
Due: check-yaml, ty

build(maps): install the MapLibre Native renderer through a maps group
  noxfile.py
  pyproject.toml
  tests/test_maps_dependencies.py
  uv.lock
Due: check-toml, ty

feat(maps): serve /map from a native provider awaited on the loop
  app/interfaces/providers.py
  app/provider/maplibre.py
  app/pygeoapi/api/conformance.py
  app/pygeoapi/api_async/maps.py
  app/pygeoapi/factory.py
  app/pygeoapi/openapi.py
  app/pygeoapi/plugin.py
  tests/maps_fixtures.py
  tests/test_conformance_maps.py
  tests/test_maplibre_provider.py
  tests/test_maps_async_route.py
  tests/test_openapi_maps.py
  tests/test_plugin_cache_close.py
Due: ty

fix(maps): keep the camera within the zooms and the world renderers take
  app/maps/camera.py
  tests/test_maps_camera.py
Due: ty

feat(maps): add the map contracts, the camera, a source and its styles
  app/maps/__init__.py
  app/maps/camera.py
  app/maps/contract.py
  app/maps/sources.py
  app/maps/styles.py
  app/provider/base.py
  app/provider/storage/obstore_.py
  tests/test_maps_camera.py
  tests/test_maps_sources.py
  tests/test_maps_styles.py
  tests/test_storage_sign.py
Due: ty

feat(maps): draw maps with one MapLibre Native process per provider
  app/maps/mlnative.py
  app/maps/renderer.py
  app/provider/maplibre.py
  pyproject.toml
  tests/maps_fixtures.py
  tests/mvt_fixtures.py
  tests/test_maplibre_provider.py
  tests/test_maps_mlnative.py
  tests/test_maps_process_renderer.py
  tests/test_maps_renderer.py
Due: check-toml, ty

feat(maps): choose map sources from a registry and style them by their content
  app/maps/contract.py
  app/maps/sources.py
  app/maps/styles.py
  app/provider/maplibre.py
  docs/operators/how-to/maplibre.md
  tests/pmtiles_fixtures.py
  tests/test_maplibre_provider.py
  tests/test_maps_renderer.py
  tests/test_maps_sources.py
  tests/test_maps_styles.py
Due: ty

fix(maps): raise the size limit, answer 413 and free the queue on disconnect
  app/provider/maplibre.py
  app/pygeoapi/api_async/maps.py
  app/pygeoapi/factory.py
  docs/operators/how-to/maplibre.md
  pygeoapi-config.demo.yml
  tests/test_maplibre_provider.py
  tests/test_maps_async_route.py
Due: check-yaml, ty

feat(mcp): return the map of a collection to the client as an image
  app/editor/inspect.py
  app/main.py
  app/mcp/instructions.py
  app/mcp/maps.py
  app/mcp/names.py
  app/mcp/route_maps.py
  app/mcp/tools.py
  tests/test_mcp_map_tools.py
Due: ty

fix(reload): report a reload as applied once the artifact is written
  app/interfaces/reload.py
  tests/test_openapi_artifact.py
Due: ty

deploy: f5715aabebf3e1ff860e6a00e219c1779a0a60d2
  404.html
  consumers/explanation/mcp-server/index.html
  consumers/how-to/mcp-inspector/index.html
  consumers/index.html
  consumers/reference/interoperability/index.html
  consumers/reference/mcp-specifications/index.html
  consumers/reference/openapi/index.html
  consumers/tutorials/connecting-an-mcp-client/index.html
  consumers/tutorials/using-qgis/index.html
  contributors/explanation/architecture/index.html
  contributors/explanation/async-providers/index.html
  contributors/how-to/development-setup/index.html
  contributors/how-to/running-the-tests/index.html
  contributors/how-to/writing-an-async-provider/index.html
  contributors/index.html
  contributors/reference/index.html
  index.html
  objects.inv
  operators/explanation/why-fastgeoapi/index.html
  operators/how-to/cloud-config/index.html
  operators/how-to/configuration-editor/index.html
  operators/how-to/enabling-mcp/index.html
  operators/how-to/geoparquet/index.html
  operators/how-to/index.html
  operators/how-to/maplibre/index.html
  operators/how-to/pmtiles/index.html
  operators/index.html
  operators/reference/cli/index.html
  operators/reference/configuration/index.html
  operators/tutorials/getting-started/index.html
  operators/tutorials/protecting-pygeoapi/index.html
  search.json
  sitemap.xml
Due: none

feat(storage): list with metadata, delete and read a range of one version
  app/provider/storage/__init__.py
  app/provider/storage/base.py
  app/provider/storage/factory.py
  app/provider/storage/obstore_.py
  tests/test_storage_base.py
  tests/test_storage_cache_contract.py
Due: ty

feat(storage): keep byte ranges in an object store under a cap
  app/provider/storage/__init__.py
  app/provider/storage/cache.py
  tests/range_cache_fixtures.py
  tests/test_storage_range_cache.py
Due: ty

feat(storage): read ranges of one version of an object through the cache
  app/provider/storage/__init__.py
  app/provider/storage/cache.py
  tests/range_cache_fixtures.py
  tests/test_storage_cached_ranges.py
Due: ty

feat(storage): configure the range cache and hand it to the providers
  app/config/app.py
  app/main.py
  app/provider/base.py
  app/provider/storage/cache.py
  tests/conftest.py
  tests/test_range_cache_settings.py
Due: ty

feat(pmtiles): read remote archives through the range cach
  app/provider/pmtiles.py
  tests/test_pmtiles_range_cache.py
Due: ty

feat(storage): serve cached ranges on loopback
  app/main.py
  app/provider/storage/loopback.py
  pyproject.toml
  tests/test_storage_loopback.py
  uv.lock
Due: check-toml, ty

feat(maps): let the renderer read remote archives through the loopback server
  app/maps/sources.py
  app/provider/maplibre.py
  app/provider/maps.py
  tests/test_maplibre_provider.py
  tests/test_maps_sources.py
Due: ty

test(maps): draw a remote archive through the range cache
  tests/test_maps_range_cache_renderer.py
Due: ty

docs: describe the range cache
  docs/operators/how-to/index.md
  docs/operators/how-to/maplibre.md
  docs/operators/how-to/pmtiles.md
Due: none

fix(storage): let the range cache sweep only its own entries
  app/provider/storage/cache.py
  docs/operators/how-to/pmtiles.md
  tests/test_storage_range_cache.py
Due: ty

fix(maps): keep serving the ranges of a map in flight through a reload
  app/provider/maplibre.py
  docs/operators/how-to/maplibre.md
  tests/test_maplibre_provider.py
Due: ty

fix(maps): cut the loopback token from renderer errors
  app/maps/renderer.py
  tests/test_maps_process_renderer.py
Due: ty

fix(storage): strip http store prefix urls
  app/provider/storage/factory.py
  tests/test_storage_obstore.py
Due: ty

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ty: any of: \.py$
