Repository geobeyond/fastgeoapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ty

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ty:
  name: Type check with ty
  entry: uvx ty check
  language: system
  pass_filenames: false

deploy: aa1ffa5765ba0f723f1dfa06b446471c64739b5a
  404.html
  consumers/explanation/mcp-server/index.html
  consumers/how-to/mcp-inspector/index.html
  consumers/index.html
  consumers/reference/mcp-specifications/index.html
  consumers/reference/openapi/index.html
  consumers/tutorials/connecting-an-mcp-client/index.html
  contributors/explanation/architecture/index.html
  contributors/how-to/development-setup/index.html
  contributors/how-to/running-the-tests/index.html
  contributors/index.html
  contributors/reference/index.html
  images/apple-touch-icon.png
  images/fastgeoapi_logo_trim.png
  images/favicon-16.png
  images/favicon-32.png
  images/icon-512.png
  images/lockup_horizontal.png
  images/lockup_horizontal_dark.png
  images/lockup_stacked.png
  images/wordmark.png
  index.html
  mcp-server/index.html
  operators/explanation/why-fastgeoapi/index.html
  operators/how-to/cloud-config/index.html
  operators/how-to/configuration-editor/index.html
  operators/how-to/enabling-mcp/index.html
  operators/how-to/geoparquet/index.html
  operators/how-to/index.html
  operators/index.html
  operators/reference/cli/index.html
  operators/reference/configuration/index.html
  operators/tutorials/getting-started/index.html
  operators/tutorials/protecting-pygeoapi/index.html
  stylesheets/extra.css
Due: none

style(docs): keep the header light, and put the lockup in it
  README.md
  docs/images/favicon-16.png
  docs/images/favicon-32.png
  docs/images/mark.svg
  docs/index.md
  docs/stylesheets/extra.css
  zensical.toml
Due: check-toml

deploy: ce1d032301db65b876a2139d3e774748e8e53977
  404.html
  consumers/explanation/mcp-server/index.html
  consumers/how-to/mcp-inspector/index.html
  consumers/index.html
  consumers/reference/mcp-specifications/index.html
  consumers/reference/openapi/index.html
  consumers/tutorials/connecting-an-mcp-client/index.html
  contributors/explanation/architecture/index.html
  contributors/how-to/development-setup/index.html
  contributors/how-to/running-the-tests/index.html
  contributors/index.html
  contributors/reference/index.html
  images/favicon-16.png
  images/favicon-32.png
  images/mark.svg
  index.html
  mcp-server/index.html
  operators/explanation/why-fastgeoapi/index.html
  operators/how-to/cloud-config/index.html
  operators/how-to/configuration-editor/index.html
  operators/how-to/enabling-mcp/index.html
  operators/how-to/geoparquet/index.html
  operators/how-to/index.html
  operators/index.html
  operators/reference/cli/index.html
  operators/reference/configuration/index.html
  operators/tutorials/getting-started/index.html
  operators/tutorials/protecting-pygeoapi/index.html
  stylesheets/extra.css
Due: none

style(docs): take the traced artwork, and name the dark scheme
  README.md
  docs/images/favicon-16.png
  docs/images/favicon-32.png
  docs/images/glyph-dark.svg
  docs/images/glyph.svg
  docs/images/lockup-horizontal-dark.svg
  docs/images/lockup-horizontal.svg
  docs/images/lockup-stacked-dark.svg
  docs/images/lockup-stacked.svg
  docs/images/mark.svg
  docs/images/symbol-dark.svg
  docs/images/symbol.svg
  docs/index.md
  docs/stylesheets/extra.css
  scripts/theme_logo.py
  zensical.toml
Due: check-toml, ty

deploy: c79593c3c7b04c3f1cf31d015619cb5bba95bea6
  404.html
  consumers/explanation/mcp-server/index.html
  consumers/how-to/mcp-inspector/index.html
  consumers/index.html
  consumers/reference/mcp-specifications/index.html
  consumers/reference/openapi/index.html
  consumers/tutorials/connecting-an-mcp-client/index.html
  contributors/explanation/architecture/index.html
  contributors/how-to/development-setup/index.html
  contributors/how-to/running-the-tests/index.html
  contributors/index.html
  contributors/reference/index.html
  images/favicon-16.png
  images/favicon-32.png
  images/glyph-dark.svg
  images/glyph.svg
  images/lockup-horizontal-dark.svg
  images/lockup-horizontal.svg
  images/lockup-stacked-dark.svg
  images/lockup-stacked.svg
  images/mark.svg
  images/symbol-dark.svg
  images/symbol.svg
  index.html
  mcp-server/index.html
  operators/explanation/why-fastgeoapi/index.html
  operators/how-to/cloud-config/index.html
  operators/how-to/configuration-editor/index.html
  operators/how-to/enabling-mcp/index.html
  operators/how-to/geoparquet/index.html
  operators/how-to/index.html
  operators/index.html
  operators/reference/cli/index.html
  operators/reference/configuration/index.html
  operators/tutorials/getting-started/index.html
  operators/tutorials/protecting-pygeoapi/index.html
  stylesheets/extra.css
Due: none

docs: fix the card grids, and say what the storage layer actually does
  .pre-commit-config.yaml
  docs/consumers/index.md
  docs/contributors/index.md
  docs/operators/explanation/why-fastgeoapi.md
  docs/operators/index.md
Due: check-yaml

deploy: c5f5b2928abebab471b55d90951406e0871c54f8
  consumers/index.html
  contributors/index.html
  operators/explanation/why-fastgeoapi/index.html
  operators/index.html
  search.json
Due: none

style(docs): give the pages a face — icons, a typeface, and one blue
  docs/consumers/explanation/mcp-server.md
  docs/consumers/how-to/mcp-inspector.md
  docs/consumers/index.md
  docs/consumers/reference/mcp-specifications.md
  docs/consumers/reference/openapi.md
  docs/consumers/tutorials/connecting-an-mcp-client.md
  docs/contributors/explanation/architecture.md
  docs/contributors/how-to/development-setup.md
  docs/contributors/how-to/running-the-tests.md
  docs/contributors/index.md
  docs/contributors/reference/index.md
  docs/index.md
  docs/operators/explanation/why-fastgeoapi.md
  docs/operators/how-to/cloud-config.md
  docs/operators/how-to/configuration-editor.md
  docs/operators/how-to/enabling-mcp.md
  docs/operators/how-to/geoparquet.md
  docs/operators/how-to/index.md
  docs/operators/index.md
  docs/operators/reference/cli.md
  docs/operators/reference/configuration.md
  docs/operators/tutorials/getting-started.md
  docs/operators/tutorials/protecting-pygeoapi.md
  docs/stylesheets/extra.css
  zensical.toml
Due: check-toml

deploy: 5c817cd5d7e5b530a9154796862a0dfda966f690
  404.html
  consumers/explanation/mcp-server/index.html
  consumers/how-to/mcp-inspector/index.html
  consumers/index.html
  consumers/reference/mcp-specifications/index.html
  consumers/reference/openapi/index.html
  consumers/tutorials/connecting-an-mcp-client/index.html
  contributors/explanation/architecture/index.html
  contributors/how-to/development-setup/index.html
  contributors/how-to/running-the-tests/index.html
  contributors/index.html
  contributors/reference/index.html
  index.html
  mcp-server/index.html
  operators/explanation/why-fastgeoapi/index.html
  operators/how-to/cloud-config/index.html
  operators/how-to/configuration-editor/index.html
  operators/how-to/enabling-mcp/index.html
  operators/how-to/geoparquet/index.html
  operators/how-to/index.html
  operators/index.html
  operators/reference/cli/index.html
  operators/reference/configuration/index.html
  operators/tutorials/getting-started/index.html
  operators/tutorials/protecting-pygeoapi/index.html
  search.json
  stylesheets/extra.css
Due: none

build(docs): update zensical and take the redirects it brought
  docs/consumers/reference/openapi.md
  docs/mcp-server.md
  noxfile.py
  pyproject.toml
  uv.lock
  zensical.toml
Due: check-toml, ty

docs: put back the extensions the migration replaced, and open the pages up
  docs/consumers/reference/openapi.md
  zensical.toml
Due: check-toml

deploy: 84b890d01edaa2ff6c45cdef448b5561ec7d9cb3
  404.html
  consumers/explanation/mcp-server/index.html
  consumers/how-to/mcp-inspector/index.html
  consumers/index.html
  consumers/reference/mcp-specifications/index.html
  consumers/reference/openapi/index.html
  consumers/tutorials/connecting-an-mcp-client/index.html
  contributors/explanation/architecture/index.html
  contributors/how-to/development-setup/index.html
  contributors/how-to/running-the-tests/index.html
  contributors/index.html
  contributors/reference/index.html
  index.html
  operators/explanation/why-fastgeoapi/index.html
  operators/how-to/cloud-config/index.html
  operators/how-to/configuration-editor/index.html
  operators/how-to/enabling-mcp/index.html
  operators/how-to/geoparquet/index.html
  operators/how-to/index.html
  operators/index.html
  operators/reference/cli/index.html
  operators/reference/configuration/index.html
  operators/tutorials/getting-started/index.html
  operators/tutorials/protecting-pygeoapi/index.html
  search.json
Due: none

build: drop fencer, which is imported nowhere
  README.md
  docs/operators/tutorials/getting-started.md
  pyproject.toml
  uv.lock
  uv.md
Due: check-toml

deploy: a07a2bee0d200e73535d9609366157244fed378f
  operators/tutorials/getting-started/index.html
  search.json
Due: none

style(docs): answer the pointer in the mark's green
  docs/stylesheets/extra.css
Due: none

deploy: d0a8ca525b34e72a3ff00042a3ec0a2a45b5ed55
  stylesheets/extra.css
Due: none

build: adopt FastMCP 4.0.3, the first stable release
  README.md
  app/mcp/tools.py
  docs/consumers/tutorials/connecting-an-mcp-client.md
  docs/operators/how-to/index.md
  pyproject.toml
  tests/test_mcp_tool_refresh.py
  uv.lock
Due: check-toml, ty

ci(nox): mirror the dev deps the unlocked lanes were missing
  noxfile.py
Due: ty

deploy: 9a9da26ff2443896cf67e28439abf6fc91e048e1
  consumers/tutorials/connecting-an-mcp-client/index.html
  operators/how-to/index.html
  search.json
Due: none

feat(mcp): serve a SEP-2127 server card at mcp server card well-known endpoint
  app/config/app.py
  app/main.py
  app/mcp/card.py
  tests/test_mcp_server_card.py
Due: ty

docs: vendor the MCP install button, with its one patch on record
  .pre-commit-config.yaml
  docs/javascripts/mcp-install-button.js
  scripts/vendor_install_button.py
  zensical.toml
Due: check-toml, check-yaml, ty

docs: one click for 26 clients and a card for every deployment
  README.md
  docs/consumers/reference/mcp-specifications.md
  docs/consumers/tutorials/connecting-an-mcp-client.md
  docs/operators/how-to/enabling-mcp.md
Due: none

style: let ruff name its own suppression
  scripts/vendor_install_button.py
Due: ty

deploy: 548c09b48902937c1cb7a6d144ee191dc178bf60
  404.html
  consumers/explanation/mcp-server/index.html
  consumers/how-to/mcp-inspector/index.html
  consumers/index.html
  consumers/reference/mcp-specifications/index.html
  consumers/reference/openapi/index.html
  consumers/tutorials/connecting-an-mcp-client/index.html
  contributors/explanation/architecture/index.html
  contributors/how-to/development-setup/index.html
  contributors/how-to/running-the-tests/index.html
  contributors/index.html
  contributors/reference/index.html
  index.html
  javascripts/mcp-install-button.js
  operators/explanation/why-fastgeoapi/index.html
  operators/how-to/cloud-config/index.html
  operators/how-to/configuration-editor/index.html
  operators/how-to/enabling-mcp/index.html
  operators/how-to/geoparquet/index.html
  operators/how-to/index.html
  operators/index.html
  operators/reference/cli/index.html
  operators/reference/configuration/index.html
  operators/tutorials/getting-started/index.html
  operators/tutorials/protecting-pygeoapi/index.html
  search.json
Due: none

fix(mcp): the server card must never take the service down
  app/main.py
  app/mcp/card.py
  tests/test_mcp_server_card.py
Due: ty

docs: build-time OpenAPI reference, rendered from the dereferenced document
  .pre-commit-config.yaml
  docs/consumers/reference/openapi-reference.md
  docs/stylesheets/neoteroi-mkdocs.css
  main.py
  scripts/build_openapi_reference.py
  zensical.toml
Due: check-toml, check-yaml, ty

fix(openapi): hoist remote-local references instead of leaving them dangling
  app/utils/openapi_resolver.py
  tests/test_openapi_resolver_rebase.py
Due: ty

docs(mcp): the scope hint in the challenge is verified, and pinned
  docs/consumers/reference/mcp-specifications.md
  tests/test_mcp_remote_oauth_flow.py
Due: ty

deploy: 9c206f4f6a92bb4642186f005b4d0cc998494136
  consumers/reference/mcp-specifications/index.html
  search.json
Due: none

feat(provider): the async part beside pygeoapi's contract, as a mixin and a view
  app/provider/base.py
  tests/test_provider_base.py
Due: ty

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ty: any of: \.py$
