Repository geobeyond/fastgeoapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ty

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ty:
  name: Type check with ty
  entry: uvx ty check
  language: system
  pass_filenames: false

fix(mcp): keep the full scope set available to CIMD clients
  app/auth/mcp_auth_provider.py
  tests/test_mcp_cimd_e2e.py
Due: ty

feat(mcp): migrate to early FastMCP 4 and drop three local workarounds
  app/auth/mcp_auth_provider.py
  pyproject.toml
  tests/test_mcp_oauth_components.py
  tests/test_mcp_oauth_e2e.py
  tests/test_mcp_remote_oauth_flow.py
  tests/test_mcp_trailing_slash.py
  tests/test_startup_workflow.py
  uv.lock
Due: check-toml, ty

docs(mcp): document protocol version negotiation and client fallback
  docs/mcp/getting-started.md
  docs/mcp/specifications.md
Due: none

docs(mcp): document the silent access-token TTL cap without a refresh token
  docs/mcp/configuration.md
  docs/mcp/getting-started.md
Due: none

fix(provider): keep a dataset's read path out of the environment
  app/provider/duckdb_.py
  app/provider/geoparquet.py
  tests/test_duckdb_session.py
Due: ty

feat(scripts): stage an overture extract as cloud-ready geoparquet
  .gitignore
  scripts/stage_overture.py
Due: ty

feat(demo): serve two overture collections with the config in a bucket
  .flyio.env
  pygeoapi-config.yml
Due: check-yaml

test: give the suite its own configuration
  tests/conftest.py
  tests/data/pygeoapi-config.yml
  tests/test_cache_dir.py
  tests/test_cli.py
  tests/test_cli_openapi.py
  tests/test_config_defaults.py
  tests/test_config_reload.py
  tests/test_duckdb_session.py
  tests/test_health_endpoints.py
  tests/test_http_client_lifecycle.py
  tests/test_mcp_oauth_components.py
  tests/test_openapi_artifact.py
  tests/test_pygeoapi_factory.py
  tests/test_pygeoapi_registry.py
  tests/test_pygeoapi_route_parity.py
  tests/test_startup_workflow.py
Due: check-yaml, ty

docs(geoparquet): record what the two demo collections cost
  .flyio.env
  docs/geoparquet.md
Due: none

chore(demo): match the collection title served from the bucket
  pygeoapi-config.yml
Due: check-yaml

fix(mcp): hand FastMCP the client it expects
  app/main.py
  pyproject.toml
  tests/test_http_client_lifecycle.py
  tests/test_mcp_asgi_transport.py
  uv.lock
Due: check-toml, ty

feat(mcp): regenerate the tools when the configuration changes
  app/interfaces/reload.py
  app/main.py
  app/mcp/__init__.py
  app/mcp/tools.py
  docs/cloud-config.md
  docs/why-fastgeoapi.md
  tests/test_config_reload.py
  tests/test_mcp_tool_refresh.py
Due: ty

docs: write down what the demo taught us
  docs/cloud-config.md
  docs/geoparquet.md
Due: none

test(provider): read a geoparquet written by someone else
  docs/geoparquet.md
  scripts/make_test_geoparquet.py
  tests/data/lakes.parquet
  tests/test_geoparquet_provider.py
Due: ty

test(provider): reach a bucket over a real S3 endpoint
  pyproject.toml
  tests/test_geoparquet_bucket_e2e.py
  uv.lock
Due: check-toml, ty

fix(ci): stop shipping the demo's configuration as the default
  .github/workflows/release.yml
  pygeoapi-config.yml
Due: check-yaml

feat(config): refuse a configuration that does not match the schema
  app/main.py
  app/pygeoapi/factory.py
  tests/conftest.py
  tests/test_config_reload.py
  tests/test_config_validation.py
  tests/test_pygeoapi_factory.py
  tests/test_pygeoapi_registry.py
  tests/test_pygeoapi_route_parity.py
Due: ty

feat(config): generate the pygeoapi configuration models
  app/pygeoapi/config_models/_generated.py
  app/pygeoapi/config_models/pygeoapi-config-schema.yml
  app/pygeoapi/config_models/schema_digest.py
  noxfile.py
  pyproject.toml
  scripts/generate_config_models.py
  tests/test_config_models_drift.py
Due: check-toml, check-yaml, ty

feat(config): stable names in front of the generated models
  app/pygeoapi/config_models/__init__.py
  tests/test_config_models_facade.py
Due: ty

feat(config): check the generated models in CI
  .github/workflows/tests.yml
  noxfile.py
Due: check-yaml, ty

feat(docs): generate the configuration reference from the schema
  docs/configuration-reference.md
  mkdocs.yml
  scripts/config_reference_additions.md
  scripts/generate_config_models.py
Due: check-yaml, ty

feat(config): draft the changelog entry from the schema diff
  .pre-commit-config.yaml
  app/pygeoapi/config_models/__init__.py
  pyproject.toml
  tests/test_config_models_changelog.py
Due: check-toml, check-yaml, ty

fix(ci): stop reformatting the generated reference page
  .pre-commit-config.yaml
  docs/configuration-reference.md
  scripts/config_reference_additions.md
Due: check-yaml

fix(config): stop refusing a configuration that works
  app/pygeoapi/factory.py
  tests/test_config_reload.py
  tests/test_config_validation.py
Due: ty

chore(config): park the typed-configuration seam
  app/pygeoapi/typed_config.py
  tests/test_typed_configuration.py
Due: ty

feat(editor): tell an operator what a configuration will do
  app/editor/__init__.py
  app/editor/inspect.py
  tests/test_editor_inspect.py
Due: ty

feat(editor): the authoring role, which cannot activate anything
  app/editor/app.py
  tests/test_editor_roles.py
Due: ty

feat(editor): the endpoints, and one rule they exist to respect
  app/editor/app.py
  app/editor/inspect.py
  app/editor/routes.py
  tests/test_editor_api.py
Due: ty

feat(cli): open the editor without putting the secret in a URL
  app/cli.py
  app/editor/app.py
  tests/test_editor_api.py
  tests/test_editor_cli.py
Due: ty

docs(editor): say what a dry run cannot tell you
  docs/configuration-editor.md
  mkdocs.yml
Due: check-yaml

style(docs): normalise emphasis in the editor page
  docs/configuration-editor.md
Due: none

test(editor): exercise the editor against a real bucket
  tests/conftest.py
  tests/test_editor_bucket_e2e.py
  tests/test_geoparquet_bucket_e2e.py
Due: ty

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ty: any of: \.py$
