Repository geobeyond/fastgeoapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ty

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ty:
  name: Type check with ty
  entry: uvx ty check
  language: system
  pass_filenames: false

feat(image): hardened multi-stage image with scan-gated GHCR publish
  .github/workflows/image.yml
  Dockerfile
  app/config/app.py
  tests/test_config_defaults.py
Due: check-yaml, ty

fix(ci): pin an existing trivy-action version
  .github/workflows/image.yml
Due: check-yaml

fix(image): address security review findings on the hardened image
  .github/workflows/image.yml
  Dockerfile
  app/config/app.py
Due: check-yaml, ty

feat(mcp): fail-closed auth guard with explicit passthrough opt-in
  README.md
  app/auth/mcp_auth_provider.py
  app/config/app.py
  app/main.py
  docs/mcp-server.md
  tests/test_http_client_lifecycle.py
  tests/test_mcp_asgi_transport.py
  tests/test_mcp_fail_closed.py
  tests/test_mcp_stateless.py
  tests/test_mcp_trailing_slash.py
  tests/test_startup_workflow.py
Due: ty

feat(ops): add health probes and relocatable schema cache
  app/config/app.py
  app/main.py
  docs/howto-guides.md
  tests/test_cache_dir.py
  tests/test_health_endpoints.py
Due: ty

fix(ci): pin compatible typer in the safety tool venv
  noxfile.py
Due: ty

build(deps): pygeoapi, fastapi and typer security bumps
  pyproject.toml
  tests/test_conformance.py
  uv.lock
Due: check-toml, ty

feat(mcp): upgrade fastmcp to 3.4.5
  pyproject.toml
  uv.lock
Due: check-toml

test(contract): disable hypothesis per-example deadline
  tests/test_openapi_contract.py
Due: ty

fix(ci): evict safety from the dev group, install it pinned in its nox virtual environment
  noxfile.py
  pyproject.toml
  uv.lock
Due: check-toml, ty

test(contract): disable hypothesis deadline, bump schemathesis to 4.24.3
  uv.lock
Due: none

test(contract): schemathesis dynamic OIDC auth + not_unauthorized check
  tests/conftest.py
  tests/test_openapi_contract.py
Due: ty

style(tests): ruff-format the MCP structured-args regression file
  tests/test_mcp_structured_args.py
Due: ty

chore(release): bump version to 0.0.11
  pyproject.toml
  uv.lock
Due: check-toml

test(mcp): regression sentinels for structured-argument forwarding
  tests/test_mcp_structured_args.py
Due: ty

fix(pygeoapi): safeguard datetime values return 400 instead of crashing
  app/pygeoapi/api/__init__.py
  app/pygeoapi/starlette_app.py
  pyproject.toml
Due: check-toml, ty

fix(openapi): correct queryables schema at the generation source
  app/pygeoapi/openapi.py
  app/utils/openapi_generator.py
  tests/test_datetime_overflow.py
  tests/test_mcp_queryables_schema.py
Due: ty

docs(mcp): dedicated MCP section with supported-specifications matrix
  README.md
  docs/howto-guides.md
  docs/mcp-server.md
  docs/mcp/configuration.md
  docs/mcp/getting-started.md
  docs/mcp/index.md
  docs/mcp/specifications.md
  mkdocs.yml
Due: check-yaml

test(mcp): reusable MCP client harness for end-to-end tests
  tests/conftest.py
  tests/mcp_e2e_client.py
  tests/test_mcp_client_e2e.py
  tests/test_mcp_oauth_e2e.py
Due: ty

ci(docs): apply pre-commit formatting to the MCP docs and fixtures
  docs/mcp/configuration.md
  docs/mcp/getting-started.md
  docs/mcp/index.md
  docs/mcp/specifications.md
  tests/conftest.py
Due: ty

feat(mcp): CIMD end-to-end coverage and private_key_jwt audience fix
  app/auth/mcp_auth_provider.py
  docs/mcp/specifications.md
  tests/test_mcp_cimd_e2e.py
Due: ty

test(mcp): cover the remote jwks_uri CIMD variant and key enforcement
  docs/mcp/specifications.md
  tests/test_mcp_cimd_e2e.py
Due: ty

chore(release): bump version to 0.0.12
  pyproject.toml
  uv.lock
Due: check-toml

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ty: any of: \.py$
