Repository geobeyond/fastgeoapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ty

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ty:
  name: Type check with ty
  entry: uvx ty check
  language: system
  pass_filenames: false

perf(provider): let duckdb read cloud data with its own reader
  app/provider/duckdb_.py
  docs/geoparquet.md
  tests/test_duckdb_session.py
Due: ty

docs: state what fastgeoapi adds to pygeoapi
  README.md
  docs/why-fastgeoapi.md
  mkdocs.yml
Due: check-yaml

fix(ci): type-check against the optional extras
  .github/workflows/tests.yml
Due: check-yaml

fix(provider): mark the reviewed SQL sites for bandit
  app/provider/geoparquet.py
Due: ty

feat(app): wire the programmatic pygeoapi behind the holder and add the reload webhook
  app/interfaces/reload.py
  app/main.py
  app/pygeoapi/starlette_app.py
  app/utils/openapi_generator.py
  app/utils/pygeoapi_utils.py
  tests/test_config_reload.py
  tests/test_health_endpoints.py
  tests/test_mcp_asgi_transport.py
  tests/test_mcp_structured_args.py
  tests/test_startup_workflow.py
Due: ty

test(mcp): pin openid as the only scope the MCP endpoint requires
  tests/test_mcp_token_refresh_e2e.py
Due: ty

feat(storage): object-store layer with protocol, obstore backend and sync/async bridge
  app/provider/__init__.py
  app/provider/storage/__init__.py
  app/provider/storage/base.py
  app/provider/storage/bridge.py
  app/provider/storage/factory.py
  app/provider/storage/obstore_.py
  pyproject.toml
  tests/test_storage_base.py
  tests/test_storage_bridge.py
  tests/test_storage_obstore.py
  uv.lock
Due: check-toml, ty

chore(deps): refresh the lock and drop the global prerelease override
  .pre-commit-config.yaml
  app/auth/auth_jwks.py
  app/cli.py
  app/interfaces/conformance.py
  app/interfaces/http_client.py
  app/middleware/pygeoapi.py
  noxfile.py
  pyproject.toml
  scripts/docker/build.py
  tests/test_startup_workflow.py
  uv.lock
Due: check-toml, check-yaml, ty

fix(provider): enumerate cloud datasets instead of globbing them
  app/provider/duckdb_.py
  app/provider/geoparquet.py
  app/provider/storage/base.py
  app/provider/storage/factory.py
  app/provider/storage/obstore_.py
  docs/geoparquet.md
  tests/test_duckdb_session.py
  tests/test_storage_base.py
Due: ty

test(mcp): cover the access-token lifetime and the refresh grant
  tests/conftest.py
  tests/mcp_e2e_client.py
  tests/test_mcp_token_refresh_e2e.py
Due: ty

test(mcp): evaluate the server with fastmcp's own OAuth client
  tests/mcp_e2e_client.py
  tests/test_mcp_stock_client_e2e.py
Due: ty

fix(mcp): filter probe access logs and improve the empty-tool-list failure management
  app/config/logging.py
  app/main.py
  docs/mcp/getting-started.md
  docs/mcp/specifications.md
  tests/test_health_endpoints.py
Due: ty

docs(mcp): add a verified guide for the reference MCP Inspector
  docs/mcp/getting-started.md
  docs/mcp/inspector.md
  mkdocs.yml
Due: check-yaml

test(mcp): identify by CIMD URL with a stock client, and pin the scope trap
  tests/conftest.py
  tests/mcp_e2e_client.py
  tests/test_mcp_cimd_e2e.py
  tests/test_mcp_stock_client_e2e.py
Due: ty

test(mcp): record which client is behind each MCP request
  app/main.py
  app/middleware/mcp_identity.py
  tests/test_mcp_client_identity.py
Due: ty

feat(provider): compile CQL2 into DuckDB spatial SQL
  app/provider/cql2_duckdb.py
  tests/test_cql2_duckdb.py
Due: ty

feat(pygeoapi): mount only the spec groups the config exposes
  app/pygeoapi/factory.py
  app/pygeoapi/holder.py
  app/pygeoapi/registry.py
  tests/test_config_reload.py
  tests/test_pygeoapi_registry.py
Due: ty

test(pygeoapi): pin the HTML and configuration contracts
  tests/test_config_reload.py
  tests/test_config_source.py
  tests/test_pygeoapi_factory.py
  tests/test_pygeoapi_route_parity.py
Due: ty

fix(provider): make the DuckDB session usable on a read-only runtime
  app/provider/duckdb_.py
  app/provider/geoparquet.py
  docs/geoparquet.md
  tests/test_duckdb_session.py
  tests/test_geoparquet_provider.py
Due: ty

feat(provider): DuckDB session for local and cloud GeoParquet sources
  app/provider/duckdb_.py
  noxfile.py
  pyproject.toml
  tests/test_duckdb_session.py
  uv.lock
Due: check-toml, ty

feat(config): load the pygeoapi config from any storage source
  app/config/source.py
  tests/test_config_source.py
Due: ty

fix(mcp): read the client identity from the initialize message
  app/middleware/mcp_identity.py
  tests/test_mcp_client_identity.py
Due: ty

fix(ci): resolve dependencies from the lock for pull requests into develop
  noxfile.py
  tests/conftest.py
Due: ty

docs(mcp): document Claude Desktop identifying via CIMD instead of DCR
  docs/mcp/getting-started.md
  docs/mcp/specifications.md
Due: none

feat(cli): generate the openapi document from the storage source
  app/cli.py
  docs/cloud-config.md
  mkdocs.yml
  tests/test_cli_openapi.py
Due: check-yaml, ty

fix(ci): satisfy ruff on the OWASP gate script
  .github/scripts/owasp_gate.py
Due: ty

feat(provider): serve GeoParquet collections end to end
  Dockerfile.flyio
  app/provider/geoparquet.py
  docs/geoparquet.md
  mkdocs.yml
  tests/test_geoparquet_e2e.py
  tests/test_geoparquet_provider.py
Due: check-yaml, ty

docs(fly): note about min_machines_running does not start a stopped machine
  fly.toml
Due: check-toml

fix(fly): keep one demo machine warm and declare health checks
  fly.toml
Due: check-toml

feat(storage): write the openapi artifact through the storage protocol
  app/cli.py
  app/interfaces/reload.py
  app/main.py
  app/provider/storage/base.py
  app/provider/storage/bridge.py
  app/provider/storage/obstore_.py
  app/pygeoapi/factory.py
  docs/cloud-config.md
  tests/test_cli_openapi.py
  tests/test_openapi_artifact.py
  tests/test_storage_base.py
  tests/test_storage_bridge.py
  tests/test_storage_obstore.py
Due: ty

fix(ci): make the OWASP check actually run, and fail when it cannot
  .github/scripts/owasp_gate.py
  .github/workflows/openapi.yml
  .gitignore
  .spectral.owasp-top.10.yaml
  app/pygeoapi/openapi.py
  tests/conftest.py
Due: check-yaml, ty

feat(mcp): accept enterprise ID-JAG assertions according to EMA - SEP-990
  app/auth/mcp_auth_provider.py
  app/config/app.py
  app/main.py
  tests/conftest.py
  tests/test_mcp_ema_e2e.py
  tests/test_mcp_oauth_components.py
Due: ty

perf(pygeoapi): reuse plugin instances instead of rebuilding them per request
  app/pygeoapi/factory.py
  app/pygeoapi/plugin.py
  tests/test_pygeoapi_plugin_cache.py
Due: ty

feat(pygeoapi): programmatic sub-app factory, route parity test and holder
  app/pygeoapi/factory.py
  app/pygeoapi/holder.py
  tests/test_pygeoapi_factory.py
  tests/test_pygeoapi_holder.py
  tests/test_pygeoapi_route_parity.py
Due: ty

fix(deps): name fastmcp-slim explicitly so the unlocked lane resolves
  pyproject.toml
  uv.lock
Due: check-toml

docs(mcp): document Enterprise-Managed Authorization
  docs/mcp/configuration.md
  docs/mcp/specifications.md
Due: none

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ty: any of: \.py$
