Repository geobeyond/fastgeoapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ty

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: ty
        name: Type check with ty
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.4.1
    hooks:
      - id: prettier

deploy: c2546aebd60ee57615311cd7b2b65d8f27fe5e2b
  contributors/reference/index.html
  index.html
  operators/how-to/index.html
  search.json
Due: none

docs: interoperability notes, measured against the demo
  docs/consumers/index.md
  docs/consumers/reference/interoperability.md
  zensical.toml
Due: check-toml

deploy: 6276ef264e7a1c6d999d838a4445627d49c94bd5
  404.html
  consumers/explanation/mcp-server/index.html
  consumers/how-to/mcp-inspector/index.html
  consumers/index.html
  consumers/reference/interoperability/index.html
  consumers/reference/mcp-specifications/index.html
  consumers/reference/openapi/index.html
  consumers/tutorials/connecting-an-mcp-client/index.html
  consumers/tutorials/using-qgis/index.html
  contributors/explanation/architecture/index.html
  contributors/explanation/async-providers/index.html
  contributors/how-to/development-setup/index.html
  contributors/how-to/running-the-tests/index.html
  contributors/how-to/writing-an-async-provider/index.html
  contributors/index.html
  contributors/reference/index.html
  index.html
  operators/explanation/why-fastgeoapi/index.html
  operators/how-to/cloud-config/index.html
  operators/how-to/configuration-editor/index.html
  operators/how-to/enabling-mcp/index.html
  operators/how-to/geoparquet/index.html
  operators/how-to/index.html
  operators/how-to/pmtiles/index.html
  operators/index.html
  operators/reference/cli/index.html
  operators/reference/configuration/index.html
  operators/tutorials/getting-started/index.html
  operators/tutorials/protecting-pygeoapi/index.html
  search.json
  sitemap.xml
Due: none

fix(openapi): declare only the tags an operation uses
  app/pygeoapi/factory.py
  app/pygeoapi/openapi.py
  tests/test_openapi_tags.py
Due: ty

deploy: ed52a3fe8de760484511ca8db9256b8509f3cb4b
  contributors/reference/index.html
  search.json
Due: none

chore(release): 0.1.0, and a changelog that can be generated
  CHANGELOG.md
  docs/operators/how-to/enabling-mcp.md
  pyproject.toml
Due: check-toml

deploy: dca10681a172053406a3f48e954ae6de32c9e0cd
  operators/how-to/enabling-mcp/index.html
  search.json
Due: none

chore(ci): pin what runs with a token, and do not publish from a shared cache
  .github/workflows/docs.yml
  .github/workflows/openapi.yml
  .github/workflows/release.yml
Due: check-yaml

chore(ci): every action by digest, and a bot that keeps it that way
  .github/workflows/contract-tests.yml
  .github/workflows/docs.yml
  .github/workflows/fly-deploy.yml
  .github/workflows/labeler.yml
  .github/workflows/ogc-openapi-validation.yml
  .github/workflows/openapi.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/workflows/zap-scan.yml
  renovate.json
Due: check-yaml

fix(conformance): declare writes only where something is writable
  .flyio.env
  .github/workflows/ogc-openapi-validation.yml
  app/pygeoapi/api/conformance.py
  pygeoapi-config.demo.yml
  tests/test_conformance.py
  tests/test_openapi_jobs.py
Due: check-yaml, ty

fix(openapi): describe the tileset the server already answers
  app/pygeoapi/factory.py
  app/pygeoapi/openapi.py
  pyproject.toml
  tests/test_ogc_conformance_local.py
  tests/test_openapi_tileset.py
  uv.lock
Due: check-toml, ty

deploy: 3586fc8912c331a51ee23edc9d2c842712180e18
  contributors/reference/index.html
  search.json
Due: none

test(reload): wait for this reload, not for the one before it
  tests/reload_helpers.py
  tests/test_config_reload.py
  tests/test_openapi_artifact.py
  tests/test_reload_helpers.py
Due: ty

feat(ci): say which classes the standards publish and this server does not
  .github/workflows/ogc-openapi-validation.yml
Due: check-yaml

fix(ci): the conformance validator belongs in the sessions that run it
  noxfile.py
Due: ty

style(noxfile): collapse two statements the formatter wants on one line
  noxfile.py
Due: ty

deploy: 04bb423257f6cf4964738317838a46abc3c8dcb1
  contributors/reference/index.html
  search.json
Due: none

deploy: 207a7fa9b9b3c2c7d4b55beb17f60c5a03c38d9b
  contributors/reference/index.html
  search.json
Due: none

chore(release): 0.1.1
  CHANGELOG.md
  pyproject.toml
Due: check-toml

feat(reload): every worker converges to the configuration source
  app/cli.py
  app/config/app.py
  app/interfaces/reload.py
  app/main.py
  docs/operators/how-to/cloud-config.md
  docs/operators/reference/cli.md
  tests/test_config_convergence.py
  tests/test_config_convergence_e2e.py
Due: ty

"test(reload): sample the workers in a burst, and give typeguard a callable
  tests/test_config_convergence.py
  tests/test_config_convergence_e2e.py
Due: ty

refactor(reload): fold the poller into ReloadManager and inject the instance id
  app/cli.py
  app/config/app.py
  app/interfaces/reload.py
  app/main.py
  docs/operators/how-to/cloud-config.md
  docs/operators/reference/cli.md
  tests/test_config_convergence.py
  tests/test_config_convergence_e2e.py
  tests/test_config_reload.py
Due: ty

style(tests): re-wrap the convergence tests at the project line length
  tests/test_config_convergence.py
  tests/test_config_convergence_e2e.py
Due: ty

deploy: e095336eee19911dd870884fb910ad52e74d478b
  operators/how-to/cloud-config/index.html
  operators/reference/cli/index.html
  search.json
Due: none

bump: version 0.1.1 → 0.2.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-toml

chore(deploy): declare one worker and the configuration poll on the demo
  .flyio.env
  Dockerfile.flyio
Due: none

test(contract): set an explicit request timeout on the contract calls
  noxfile.py
  pyproject.toml
  tests/test_openapi_contract.py
  uv.lock
Due: check-toml, ty

fix(openapi): make two generated tool schemas match what the server does
  app/editor/inspect.py
  app/main.py
  app/mcp/tools.py
  app/pygeoapi/factory.py
  app/pygeoapi/openapi.py
  tests/conftest.py
  tests/test_mcp_structured_args.py
  tests/test_mcp_tool_schemas.py
  tests/test_openapi_collection_responses.py
  tests/test_openapi_execute_maps.py
Due: ty
