Repository geobeyond/fastgeoapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ty

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ty:
  name: Type check with ty
  entry: uvx ty check
  language: system
  pass_filenames: false

docs(mcp): align README and MCP guide with fastmcp 3.x architecture
  README.md
  docs/howto-guides.md
  docs/mcp-server.md
Due: none

fix(mcp): serve slash-less /mcp and discovery URLs without redirects
  Dockerfile.flyio
  app/main.py
  app/middleware/proxy.py
  tests/test_mcp_trailing_slash.py
Due: ty

docs(mcp): recommend claude desktop native connector over mcp-remote
  README.md
  docs/mcp-server.md
Due: none

fix(security): restrict FORWARDED_ALLOW_IPS to the Fly proxy network
  Dockerfile.flyio
Due: none

refactor: handle issuer and audience validation of oauth2 tokens
  app/auth/auth_jwks.py
Due: ty

refactor(mcp): migrate to fastmcp 3.x with ASGITransport and native forward_resource (#409)
  .gitignore
  app/auth/mcp_auth_provider.py
  app/config/app.py
  app/config/logging.py
  app/main.py
  app/middleware/oauth2.py
  fly.toml
  noxfile.py
  pyproject.toml
  tests/conftest.py
  tests/test_http_client_lifecycle.py
  tests/test_mcp_asgi_transport.py
  tests/test_mcp_internal_auth_bypass.py
  tests/test_mcp_oauth_components.py
  tests/test_mcp_oauth_e2e.py
  uv.lock
Due: check-toml, ty

Update dependencies lock file
  uv.lock
Due: none

feat(mcp): decouple client access-token TTL from IdP expires_in
  .pre-commit-config.yaml
  app/auth/auth_jwks.py
  app/auth/mcp_auth_provider.py
  app/config/app.py
  app/main.py
  docs/mcp-server.md
  tests/test_mcp_oauth_components.py
  tests/test_startup_workflow.py
  uv.lock
Due: check-yaml, ty

feat(mcp): remember consent
  .env
  .flyio.env
  app/auth/mcp_auth_provider.py
  app/config/app.py
  app/main.py
  tests/test_mcp_oauth_components.py
Due: ty

Add offline access scope from the IdP
  app/auth/mcp_auth_provider.py
  app/main.py
  tests/test_mcp_oauth_components.py
Due: ty

ci: fix precommit errors
  app/auth/auth_jwks.py
Due: ty

Fix CI failures
  app/auth/mcp_auth_provider.py
  noxfile.py
  tests/test_mcp_oauth_components.py
Due: ty

fix(tests): correct CRLF sanitization in openapi contract tests
  tests/test_openapi_contract.py
Due: ty

Follow api composability and fix conformance accordingly to pygeoapi configuration (#407)
  .github/workflows/contract-tests.yml
  .pre-commit-config.yaml
  app/auth/mcp_auth_provider.py
  app/interfaces/__init__.py
  app/interfaces/conformance.py
  app/middleware/oauth2.py
  app/pygeoapi/api/conformance.py
  app/pygeoapi/starlette_app.py
  app/utils/pygeoapi_utils.py
  pyproject.toml
  scripts/docker/build.py
  tests/conftest.py
  tests/test_conformance.py
  tests/test_mcp_oauth_components.py
  tests/test_mcp_remote_oauth_flow.py
  tests/test_openapi_contract.py
  tests/test_startup_workflow.py
  uv.lock
Due: check-toml, check-yaml, ty

fix(security): default prod consent mode to remember in .env template
  .env
Due: none

fix(tests): pin consent mode in MCP OAuth e2e fixture
  docs/mcp-server.md
  tests/test_mcp_oauth_e2e.py
Due: ty

Lower the mcp consent mode from remember to never
  .env
  .flyio.env
  docs/mcp-server.md
Due: none

fix(ci): pin joserfc<1.7 to not break the IdP test on unlocked installs
  noxfile.py
  pyproject.toml
  tests/test_mcp_oauth_e2e.py
  uv.lock
Due: check-toml, ty

fix(docker): install production dependencies from uv lock file
  Dockerfile.flyio
Due: none

fix(mcp): run streamable HTTP in stateless mode
  README.md
  app/main.py
  docs/mcp-server.md
  tests/test_mcp_stateless.py
Due: ty

feat(ops): persist MCP OAuth storage on a fly volume
  fly.toml
Due: check-toml

fix(ci): tag releases when the version tag is missing
  .github/workflows/release.yml
Due: check-yaml

fix(ci): disable nltk import guard for the safety session
  noxfile.py
Due: ty

refactor(auth): drop the mcpauth dependency
  README.md
  app/auth/mcp_auth_provider.py
  app/main.py
  docs/mcp-server.md
  pyproject.toml
  tests/test_mcp_oauth_components.py
  tests/test_startup_workflow.py
  uv.lock
Due: check-toml, ty

chore(release): bump version to 0.0.10
  pyproject.toml
  uv.lock
Due: check-toml

feat(mcp): fail-closed auth guard with explicit passthrough opt-in
  README.md
  app/auth/mcp_auth_provider.py
  app/config/app.py
  app/main.py
  docs/mcp-server.md
  tests/test_http_client_lifecycle.py
  tests/test_mcp_asgi_transport.py
  tests/test_mcp_fail_closed.py
  tests/test_mcp_stateless.py
  tests/test_mcp_trailing_slash.py
  tests/test_startup_workflow.py
Due: ty

feat(ops): add health probes and relocatable schema cache
  app/config/app.py
  app/main.py
  docs/howto-guides.md
  tests/test_cache_dir.py
  tests/test_health_endpoints.py
Due: ty

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ty: any of: \.py$
